Employee-Manag/employee-manag/src/main/mule/e-managImplementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="03b6c5ff-a8e5-458a-908b-2e41600edc60" >
		<wsc:connection wsdlLocation="http://34.86.63.32:6063/ws/employees.wsdl" address="http://34.86.63.32:6063/ws" service="EmployeePortService" port="EmployeePortSoap11">
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="addEmployee" doc:id="060660ab-24bb-40cb-acb9-c5a117edcbdf" >
		<ee:transform doc:name="Transform Message" doc:id="6084fe57-9c74-4119-b524-3892f5c3819e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#AddEmployeeRequest: {
		ns0#AddEmployee: {
			ns0#firstName: payload.firstName,
			ns0#lastName: payload.lastName,
			ns0#department: payload.department
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="c2617396-b907-42e6-a939-79b143d3726b" config-ref="Web_Service_Consumer_Config" operation="AddEmployee">
			<error-mapping sourceType="WSC:CANNOT_DISPATCH" targetType="APP:CUSTOMERROR" />
		</wsc:consume>
	</flow>
</mule>
