src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="updateFlwo" doc:id="145d23de-a38b-4234-9831-a23fc880c526" >
		<ee:transform doc:name="Transform Message" doc:id="dfb8d5d6-e216-43e1-aa19-26503da08d14" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#UpdateEmployeeRequest: {
		ns0#Employee: {
			ns0#id: vars.Employees_id as Number,
			ns0#firstName: payload.firstName,
			ns0#lastName: payload.lastName,
			ns0#department: payload.department
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="UpdateEmployee" doc:name="Consume" doc:id="66871eaa-773c-418a-8f2e-3d5798f16422" config-ref="Web_Service_Consumer_Config"/>
	</flow>
	
	<flow name="addEmployee" doc:id="0ac3e8cd-ae0a-4716-84b8-71fe3c296b68" >
		<ee:transform doc:name="Transform Message" doc:id="7bb049c0-5556-4691-8523-6e321d0fb949" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#AddEmployeeRequest: {
		ns0#AddEmployee: {
			ns0#firstName: payload.firstName,
			ns0#lastName: payload.lastName,
			ns0#department: payload.department
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="7ed0b4bf-4605-48c7-b5ef-652a9eda50a7" config-ref="Web_Service_Consumer_Config" operation="AddEmployee">
			<error-mapping sourceType="WSC:CANNOT_DISPATCH" targetType="APP:CUSTOMERROR" />
		</wsc:consume>
	</flow>
	
	<flow name="getallemployees" doc:id="2026f779-a303-43d4-b7bf-ee0ed66a9a8b" >
		<ee:transform doc:name="Transform Message" doc:id="f28e4dbf-9d09-4421-bdc6-424c14fb219a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#GetAllEmployeesRequest: {
		
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="GetAllEmployees" doc:name="Consume" doc:id="0c6051d7-826d-4098-9a23-8cf5cf4b7b0c" config-ref="Web_Service_Consumer_Config"/>
	</flow>
	<flow name="deleteEmployee" doc:id="68f1835e-41e1-464d-9f0c-6bcf0537bd02" >
		<ee:transform doc:name="Transform Message" doc:id="46940987-d4b3-45ec-a8eb-e08b72a0e9d2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#DeleteEmployeeRequest: {
		ns0#id: vars.Employees_id as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="DeleteEmployee" doc:name="Consume" doc:id="4f31ebf8-4120-4583-bcbc-f9f5fba7b60b" config-ref="Web_Service_Consumer_Config"/>
	</flow>
	<flow name="getemployee" doc:id="53ca22e2-be48-439a-9bd3-73cc7cafdb7c" >
		<ee:transform doc:name="Transform Message" doc:id="3bf58521-a0fb-4dbc-8311-fe9826efc67c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#GetEmployeeRequest: {
		ns0#id: vars.Employees_id as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="GetEmployee" doc:name="getemployee" doc:id="a501db93-83f4-46fd-a40a-7a56123d8f04" config-ref="Web_Service_Consumer_Config" />
	</flow>
	
</mule>
