src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="updateFlwo" doc:id="145d23de-a38b-4234-9831-a23fc880c526" >
		<ee:transform doc:name="Transform Message" doc:id="dfb8d5d6-e216-43e1-aa19-26503da08d14" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#UpdateEmployeeRequest: {
		ns0#Employee: {
			ns0#id: vars.Employees_id as Number,
			ns0#firstName: payload.firstName,
			ns0#lastName: payload.lastName,
			ns0#department: payload.department
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="UpdateEmployee" doc:name="Consume" doc:id="66871eaa-773c-418a-8f2e-3d5798f16422" config-ref="Web_Service_Consumer_Config"/>
	</flow>
	<flow name="getallemployees" doc:id="a460c5ce-29c8-4825-924e-5672feb025ed" >
		<ee:transform doc:name="Transform Message" doc:id="dbc2343a-d32c-4ae7-bba2-c5f438c715fb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#GetAllEmployeesRequest: {
		
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="GetAllEmployees" doc:name="Consume" doc:id="fad8fe8d-f340-4e57-af97-4b0a92eeb241" config-ref="Web_Service_Consumer_Config"/>
	</flow>
	<flow name="getemployee" doc:id="2829b3b3-99e1-4811-9d07-bfc4ab24c02c" >
		<ee:transform doc:name="Transform Message" doc:id="f89e107d-3d0e-49d3-b04b-01fe7ea0a2dc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#GetEmployeeRequest: {
		ns0#id: vars.Employees_id as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="GetEmployee" doc:name="getemployee" doc:id="9f78f1bd-8d85-4ecb-b36d-2e1576c2f9c0" config-ref="Web_Service_Consumer_Config" />
	</flow>
</mule>
