src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="updateFlwo" doc:id="145d23de-a38b-4234-9831-a23fc880c526" >
		<ee:transform doc:name="Transform Message" doc:id="dfb8d5d6-e216-43e1-aa19-26503da08d14" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#UpdateEmployeeRequest: {
		ns0#Employee: {
			ns0#id: vars.Employees_id as Number,
			ns0#firstName: payload.firstName,
			ns0#lastName: payload.lastName,
			ns0#department: payload.department
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="UpdateEmployee" doc:name="Consume" doc:id="66871eaa-773c-418a-8f2e-3d5798f16422" config-ref="Web_Service_Consumer_Config"/>
	</flow>
	<flow name="addEmployee" doc:id="7dbec1b4-ba93-4b8b-8d64-11a5f0c249d7" >
		<ee:transform doc:name="Transform Message" doc:id="049bdd0e-1d34-4086-9f18-6f57a0aa7364" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.cdi.com/employees
---
{
	ns0#AddEmployeeRequest: {
		ns0#AddEmployee: {
			ns0#firstName: payload.firstName,
			ns0#lastName: payload.lastName,
			ns0#department: payload.department
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="0045eba3-c62b-467c-b458-5576c321f3d2" config-ref="Web_Service_Consumer_Config" operation="AddEmployee">
			<error-mapping sourceType="WSC:CANNOT_DISPATCH" targetType="APP:CUSTOMERROR" />
		</wsc:consume>
	</flow>
	
</mule>
